@model CarRenter.Models.NowyModelDlaEdycjiAuta

@{
    ViewData["Title"] = "Edytuj samochód";
}

<h2>Edytuj samochód</h2>

<form asp-action="EditVehicle" method="post">
    <input type="hidden" asp-for="id" />

    <div class="mb-3">
        <label asp-for="marka" class="form-label"></label>
        <input asp-for="marka" class="form-control" />
    </div>

    @* <div class="mb-3">
        <label asp-for="model" class="form-label"></label>
        <input asp-for="model" class="form-control" />
    </div> *@
    <div class="mb-3">
        <label asp-for="rok" class="form-label"></label>
        <input asp-for="rok" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="opis" class="form-label"></label>
        <input asp-for="opis" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="urlObrazka" class="form-label"></label>
        <input asp-for="urlObrazka" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="kwotaZaDzien" class="form-label"></label>
        <input asp-for="kwotaZaDzien" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Vehicles" class="btn btn-secondary">Anuluj</a>
</form>

